.getCraft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://images.unsplash.com/photo-1550376026-7375b92bb318?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=708&q=80") no-repeat center center fixed;
    background-size: cover;
    opacity: 0.75;
    width:100vw;
    height: 100vh;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pageTitle {
    color:white;
    font-size: 72px;
}

label {
    color: white;
    font-weight: bold;
    padding:25px;
    font-size: 25px;
}