.getCraft {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1573227896288-1d51c740a96e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80")
    no-repeat center center fixed;
  background-size: cover;
  opacity: 0.75;
  width: 100vw;
  height: 100vh;
  margin-left: 250px;
  margin-right: 0;
}
.box {
  margin-right: 250px;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landingTitle {
  color: white;
  font-size: 72px;
  margin-top: 150px;
  margin-right: 250px;
}

label {
  color: white;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 15px;
  width: 25vw;
  text-align: center;
}

select {
  background-color: #90baad;
  height: 50px;
  margin-bottom: 25px;
  border-radius: 20px;
  border: solid 2px white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  width: 350px;
}

.craftBtn {
  padding: 10px;
  width: 150px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #90baad;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.craftBtn:hover {
  background-color: #90baad;
  color: white;
  border: 2px solid white;
}
