.craft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.craftBox {
  /* background: url("https://images.unsplash.com/photo-1517146783983-418c681b56c5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80") no-repeat center center fixed; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin-left: 250px;
  margin-right: 0;
}
.craftImg {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}
img {
  width: 600px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title {
  display: flex;
  justify-content: center;
}
.materials {
  display: flex;
  padding: 10px 75px;
  border: 3px solid black;
  border-radius: 20px;
  margin-bottom: 5px;
  width: 500px;
}
.tools {
  display: flex;
  padding: 10px 75px;
  border: 3px solid black;
  border-radius: 20px;
  margin: 5px;
  width: 500px;
}
.instructions {
  display: flex;
  padding: 10px 75px;
  border: 3px solid black;
  border-radius: 20px;
  margin: 5px;
  width: 500px;
}

h2 {
  /* text-decoration: underline; */
  margin-right: 10px;
}

.craftBox p {
  font-size: 20px;
  margin-top: 23px;
}

.favBtn {
   padding: 10px;
   width: 125px;
   border: none;
   border-radius: 20px;
   background-color: white;
   color:black;
   text-align:center;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
   border: 2px solid black;
   margin-top: 5px;
}
.favBtn:hover {
    border:none;
    background-color: #8AA2A9;
    color:white;
}
